<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>野菜入力</title>

<!-- css -->
<link rel="stylesheet" th:href="@{/inputForm/inputForm.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- JS読込 -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}" defer></script>
</head>

<body>
   <div th:object="${inputForm}">
	<h1 id="form-input"class="form-input">野菜登録</h1>
	<form id="form-input" method="post" action="/addList" class="form-input">
		<input type="text" th:field="*{items}" placeholder="野菜名"th:errorclass="is-invalid" />
		<div class="invalid-feedback" th:errors="*{items}"></div>

		<input type="text" th:field="*{farmer}" placeholder="農家名" th:errorclass="is-invalid" />
		<div class="invalid-feedback" th:errors="*{farmer}"></div>
		
		<input type="text" th:field="*{area}" placeholder="産地"th:errorclass="is-invalid" />
		<div class="invalid-feedback" th:errors="*{area}"></div>
		
		<input type="submit" value="クリック" class="btn btn-primary btn-sm " />
	</form>
   </div>
   
	<form id="form-input" method="post" action="/toList" class="form-input">
		<input type="submit" value="一覧はこちら" />
	</form>
</body>
</html>