<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
</head>
<body>
<h1>商品一覧</h1>
<table border="2">
	<tr>
		<th>id</th>
		<th>野菜名</th>
		<th>農家さん</th>
		<th>産地</th>
		<th>操作</th>
		
	</tr>	
		 <tr th:each="vegetable : ${key}">
         <td th:text="${vegetable.id}"></td>
         <td th:text="${vegetable.items}"></td>
         <td th:text="${vegetable.farmer}"></td>
         <td th:text="${vegetable.area}"></td>
         <td>
		  <a th:href="@{'/detailVegetable/'+ ${vegetable.id}}">
			 詳細はこちら
		  </a>
		  
        </td>
        <td>
			
	</tr>
</table>
 
　　<a th:href="@{/inputForm}">登録はこちら</a>
</body>
</html>
