<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>

<link rel="stylesheet"　th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- JS読込 -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>

</head>

<body>
    <a th:href="@{/logout}">ログアウト</a>
    <h1>商品一覧</h1>
    <div class="table-wrapper">
        <table>
            <tr>
                <th>id</th>
                <th>野菜名</th>
                <th>農家さん</th>
                <th>産地</th>
                <th>操作</th>
            </tr>
            <tr th:each="vegetable : ${key}">
                <td th:text="${vegetable.id}"></td>
                <td th:text="${vegetable.items}"></td>
                <td th:text="${vegetable.farmer}"></td>
                <td th:text="${vegetable.area}"></td>
                <td><a th:href="@{'/detailVegetable/'+ ${vegetable.id}}">
                        詳細はこちら </a></td>
                <td>
            </tr>
        </table>
    </div>

    <a th:href="@{/inputForm}">登録はこちら</a>

</body>
</html>